<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title> {{section.title}} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!--Critical CSS-->
  <style></style>
  <!--Main CSS loading if required. If small enough stylesheet critical might be enough-->
 <!--use media stylesheet trick-->
 <link rel="stylesheet" type="text/css" href="/css/main.css">
  

  <meta name="description" content="{{section.description}}" />

  <!--TWITTER CARDS-->
  <meta name="twitter:card" content="{{section.extra.twittercard}}">
  <meta name="twitter:site" content="{{section.extra.twittersite}}">
  <!--<meta name="twitter:creator" content=""> optional; indicates twitter account for creator. Used with summary with large image type card-->
  <meta name="twitter:title" property="og:title" content="{{section.extra.twittertitle}}">
  <meta name="twitter:description" property="og:description" content="{{section.extra.twitterdescription}}">
  <meta name="twitter:url" property="og:url" content="{{section.extra.twitterurl}}">
  <meta name="twitter:image" property="og:image" content="{{section.extra.twitterimage}}">
  <meta name="twitter:image:alt" property="og:image:alt" content="{{section.extra.twitterimagealttext}}">

  <!--FACEBOOK OPENGRAPH MARKUP-->
  <meta property="og:locale" content="{{section.extra.oglocale}}"/>
  <meta property="og:type" content="{{ section.extra.ogtype }}"/>
  <meta property="og:site_name" content="{{section.extra.ogsite_name}}"/>
  <meta property="og:title" content="{{section.extra.ogtitle}}"/>
  <meta property="og:description" content="{{section.extra.ogdescription}}"/>
  <meta property="og:url" content="{{section.extra.ogurl}}"/>
  <meta property="og:image" content="{{section.extra.ogimage}}"/>
  <meta property="og:image:width" content="{{section.extra.ogimage_width}}"/>
  <meta property="og:image:height" content="{{section.extra.ogimage_height}}"/>

  <!--Prefetching where possible inc DNS-->
  <!--Font Loading-->

  <link rel="preload" href="/fonts/firasansboldsuball.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/firasansregularsuball.woff2" as="font" type="font/woff2" crossorigin>  

  <!--Replace with correct full fonts 

  <script> if( "fonts" in document ) {
    var regular = new FontFace("Rubik", "url(firasansregular.woff2) format('woff2'), url(firasansregular.woff) format('woff')");
    var bold = new FontFace("Rubik", "url(firasansbold.woff2) format('woff2'), url(firasansbold.woff) format('woff')", { weight: "700" });

    Promise.all([ bold.load(), regular.load() ]).then(function(fonts) {
        fonts.forEach(function(font) {
            document.fonts.add(font);
            if(!("fonts" in document) && "head" in document) {
    // Awkwardly dump the second stage @font-face blocks in the head
    var style = document.createElement("style");
    // Note: Edge supports WOFF2
    style.innerHTML = "@font-face { font-family: Rubik; src: url(/rubik/Rubik-Regular-hint-all.woff2) format('woff2'), url(/rubik/Rubik-Regular-hint-all.woff) format('woff'); } @font-face { font-family: Rubik; font-weight: 700; src: url(/rubik/Rubik-Bold-hint-all.woff2) format('woff2'), url(/rubik/Rubik-Bold-hint-all.woff) format('woff'); }";
    document.head.appendChild(style);
}
        });
    });
  }
  </script>  -->

  <!--PWA ADD TO HOMESCREEN UX-->
  <!--include manual instructions within menu or userflow as to how to add2homescreen or install-->

  <!--Minimal Icon Set-->
  <!--PWA/Android Icons are contained in the webapp manifest json-->
  <!--SVG icon should contain style tag with CSS @media {prefers color scheme dark for dark and light versions-->
  <link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <!--Apple touch icon should have 20px padding and a colour behind background-->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
  <!--Some webapps may need other apple meta tags to style status bar and for notched displays-->

   
  
  <!--ADD TO HOMESCREEN & Service Worker & PWA Manifest-->
  <link rel="manifest" href="manifest.webmanifest">
  <!--Add Fonts to Service Worker-->
  <!--WORKBOX-->
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('js/service-worker.js');
      });
    }
    </script> 

  
</head>

<body> 
 <!--SEMANTIC HTML & STRUCTURE & Schema markup-->
 <!--Use Maintainable CSS approach-->
 <!--ALL Target Blank LINKS REL NOOPENER, inc ZOLA Config-->
 <!--Lazy load images inc NATIVE lazy loading-->

<a href="#main-content" class="skip-link">Skip to the main content</a>

  <header class="header">
   
    <div class="logo-module">
    <a src="/index.html" class="logo-svg"><img src="logo.svg" class="logo"></a>
    </div>

    <nav class="nav">
     <ul class="nav-list">
      <li class="nav-item"><a href=/>Home</a></li>	
      <li class="nav-item"><a href=/parentstudent/>Parents & Students</a></li>	
      <li class="nav-item"><a href=staff.html>Staff</a></li>
      <li class="nav-item"><a href=/contact/>Contact</a></li>
     </ul>
    </nav>

    <!--SOCIAL MEDIA ICON LINKS-->

 <!--Dark Mode Toggle and proper darkmode with images and typography considerations-->
  
  </header>		

<!--MAIN-->
<!--Schema markup, see Bruce Lawson Article vs Section-->
<!--Use Time element and datetime as per Bruce's recommendations-->
<!--Use now function from Zola-->
<!--use extreme responsive with file size based breakpoints for unchanging images e.g hero images and graphics-->
<!--Use npm Sharp or Gulp Sharp or SSG image processing for CMS images-->
  <main class="main" id="main-content">
    <article itemscope>
      <h1>{{section.extra.heading}}</h1>
      <h2>{{section.extra.tagline}}</h2>
      <p>{{section.extra.intro}}</p>
      <h2>{{section.extra.quotecardtitle}}</h2>
      <p>{{section.extra.quote}}</p>
      <h2>Click here for <a href=/news/>{{section.extra.section1heading}}</a></h2>
      <ul>
        {% for page in section.pages %}
        <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
        {% endfor %}
      </ul>
      <h2>{{section.extra.section2heading}}</h2>
      <a href=/termdates/><h3>{{section.extra.section2text}}</h3></a>
     <div class ="responsive-iframe-container big-container">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FLondon&src=aGVhZGFwcGxlc2x0ZEBnbWFpbC5jb20&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udWsjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&src=ZW4tZ2IudWsjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%2333B679&color=%230B8043&color=%230B8043" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="yes"></iframe>
      </div>
      <div class ="responsive-iframe-container small-container">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FLondon&src=aGVhZGFwcGxlc2x0ZEBnbWFpbC5jb20&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udWsjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&src=ZW4tZ2IudWsjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%2333B679&color=%230B8043&color=%230B8043" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="yes"></iframe>
        </div> 

     
      </article>

    
  </main>
  {% include "footer.html" %}
    <!--Schema address markup and semantic tag for address and number-->
    <!--use time tag for Copyright and proper C symbol-->
    <!--use Zola now function-->
    <!--Social Icons-->
    <!--Link to Terms and Conditions and Refund/Cust Service Policies-->
</body>
</html>
